[Desktop Entry]
Encoding=UTF-8
Name=SMRTC
Comment=SMRTC P2P Cryptocurrency
Comment[fr]=SMRTC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SMRTC, eşten eşe kriptografik sanal para birimi
Exec=smrtc-qt %u
Terminal=false
Type=Application
Icon=smrtc128
MimeType=x-scheme-handler/smrtc;
Categories=Office;Finance;
